$bg-list: #36382E;
$bg-primay: #ffffff;
$bg-secondary: #FF7D28;
$bg-warn: #FFDF32;
$bannerTextType: 'Rubik Distressed', cursive;
$bannerUrlOneImg: "../assets/images/banner1.jpg";
$fontFamilyBannerOneImg: 'Rubik Distressed', cursive;
$img1-banner: yellow;
$layer-slider: rgba(0, 0, 0, 0.4);
$bg-dark: #222221;